In [7]:
from pandas_datareader import data
import yfinance as yf
import os
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

In [2]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2016, 1, 1)

In [3]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']
DF = yf.download(tickers, start, end)
DF

[*********************100%%**********************]  6 of 6 completed

            Adj Close                                                \
                  BAC           C          GS        JPM         MS
Date
2006-01-03  32.168705  338.403229   98.085487  24.795879  33.585468
2006-01-04  31.827061  332.155640   96.730682  24.652773  33.608498
2006-01-05  31.868053  333.803314   96.692612  24.727427  33.700653
2006-01-06  31.820217  333.803314   98.062668  24.901655  33.735222
2006-01-09  31.840714  332.224304   99.242401  25.306116  34.092319
...               ...         ...         ...        ...        ...
2015-12-24  14.553583   41.972164  155.417007  52.805668  26.070406
2015-12-28  14.435603   41.709385  154.693054  52.631245  25.821583
2015-12-29  14.562008   42.187160  156.319885  53.178322  26.126589
2015-12-30  14.368185   41.645672  155.025208  52.797745  25.869741
2015-12-31  14.182788   41.207722  153.509140  52.353733  25.532621

                           Close                                     ...  \
                  WFC        BAC           C          GS        JPM  ...
Date                                                                 ...
2006-01-03  19.369595  47.080002  492.899994  128.869995  40.189999  ...
2006-01-04  19.144930  46.580002  483.799988  127.089996  39.619999  ...
2006-01-05  19.123684  46.639999  486.200012  127.040001  39.740002  ...
2006-01-06  19.236008  46.570000  486.200012  128.839996  40.020000  ...
2006-01-09  19.232979  46.599998  483.899994  130.389999  40.669998  ...
...               ...        ...         ...         ...        ...  ...
2015-12-24  43.350594  17.270000   52.709999  182.470001  66.599998  ...
2015-12-28  43.239891  17.129999   52.380001  181.619995  66.379997  ...
2015-12-29  43.722275  17.280001   52.980000  183.529999  67.070000  ...
2015-12-30  43.405952  17.049999   52.299999  182.009995  66.589996  ...
2015-12-31  42.986835  16.830000   51.750000  180.229996  66.029999  ...

                  Open                                     Volume            \
                    GS        JPM         MS        WFC       BAC         C
Date
2006-01-03  126.699997  39.830002  57.169998  31.600000  16296700   1537600
2006-01-04  127.349998  39.779999  58.700001  31.799999  17757900   1870960
2006-01-05  126.000000  39.610001  58.549999  31.500000  14970700   1143160
2006-01-06  127.290001  39.919998  58.770000  31.580000  12599800   1370210
2006-01-09  128.500000  39.880001  58.630001  31.674999  15619400   1680740
...                ...        ...        ...        ...       ...       ...
2015-12-24  182.270004  66.620003  32.570000  54.970001  29369400   4671200
2015-12-28  181.770004  66.290001  32.360001  54.549999  41777500   8761700
2015-12-29  182.820007  66.839996  32.439999  55.110001  45670400  10155100
2015-12-30  183.279999  67.040001  32.500000  55.270000  35066400   8763300
2015-12-31  181.160004  66.190002  31.910000  54.509998  47153000  11281800


                 GS       JPM       MS       WFC
Date
2006-01-03  6188700  12838600  5377000  11016400
2006-01-04  4861600  13491500  7977800  10870000
2006-01-05  3717400   8109400  5778000  10158000
2006-01-06  4319600   7966900  6889800   8403800
2006-01-09  4723500  16575200  4144500   5619600
...             ...       ...      ...       ...
2015-12-24  1107600   4468200  2798200   4999400
2015-12-28  1723300   6610600  5420300   8288800
2015-12-29  1848900   9820800  6388200   7894900
2015-12-30  1514300   7190700  5057200   8016900
2015-12-31  1773900  14654300  8154300  10929800

[2517 rows x 36 columns]

In [4]:
# Inspect the first rows of November-December 2006
print(DF.loc[pd.Timestamp('2006-11-01'):pd.Timestamp('2006-12-31')].head())

            Adj Close                                                \
                  BAC           C          GS        JPM         MS
Date
2006-11-01  37.802437  354.743134  141.977432  29.893116  43.202370
2006-11-02  37.781281  355.744446  143.811600  29.873997  43.430771
2006-11-03  37.696621  354.671661  143.612122  29.867645  43.501034
2006-11-06  38.246937  359.177490  145.814621  30.351730  44.531754
2006-11-07  38.395100  361.036987  144.801605  30.249825  44.449764

                           Close                                     ...  \
                  WFC        BAC           C          GS        JPM  ...
Date                                                                 ...
2006-11-01  22.553659  53.580002  500.899994  185.000000  46.930000  ...
2006-11-02  22.478453  53.549999  497.399994  187.389999  46.900002  ...
2006-11-03  22.559927  53.430000  495.899994  187.130005  46.889999  ...
2006-11-06  22.772989  54.209999  502.200012  190.000000  47.650002  ...
2006-11-07  22.804329  54.419998  504.799988  188.679993  47.490002  ...

                  Open                                     Volume           \
                    GS        JPM         MS        WFC       BAC        C
Date
2006-11-01  191.000000  47.750000  76.599998  36.299999  12654100  2084280
2006-11-02  184.509995  46.930000  73.300003  35.869999   8920300  1761520
2006-11-03  188.899994  47.150002  74.639999  35.970001   7531600  1057540
2006-11-06  187.679993  47.180000  75.000000  36.099998  11139700  1529100
2006-11-07  190.199997  47.500000  76.449997  36.349998   8579500  1362750


                 GS       JPM       MS      WFC
Date
2006-11-01  7731800  11490200  5959500  7279600
2006-11-02  6191000   7059000  6119000  6738800
2006-11-03  4153100   7984100  3205600  6358200
2006-11-06  4639000   8633700  3856400  7950800
2006-11-07  3697900   8535500  4500300  6877000

[5 rows x 36 columns]

In [5]:
print(DF.index)
print(DF.columns)
ts = DF['Close'][-10:]
type(ts)

DatetimeIndex(['2006-01-03', '2006-01-04', '2006-01-05', '2006-01-06',
               '2006-01-09', '2006-01-10', '2006-01-11', '2006-01-12',
               '2006-01-13', '2006-01-17',
               ...
               '2015-12-17', '2015-12-18', '2015-12-21', '2015-12-22',
               '2015-12-23', '2015-12-24', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', name='Date', length=2517, freq=None)
MultiIndex([('Adj Close', 'BAC'),
            ('Adj Close',   'C'),
            ('Adj Close',  'GS'),
            ('Adj Close', 'JPM'),
            ('Adj Close',  'MS'),
            ('Adj Close', 'WFC'),
            (    'Close', 'BAC'),
            (    'Close',   'C'),
            (    'Close',  'GS'),
            (    'Close', 'JPM'),
            (    'Close',  'MS'),
            (    'Close', 'WFC'),
            (     'High', 'BAC'),
            (     'High',   'C'),
            (     'High',  'GS'),
            (     'High', 'JPM'),
            (     'High',  'MS'),
            (     'High', 'WFC'),
            (      'Low', 'BAC'),
            (      'Low',   'C'),
            (      'Low',  'GS'),
            (      'Low', 'JPM'),
            (      'Low',  'MS'),
            (      'Low', 'WFC'),
            (     'Open', 'BAC'),
            (     'Open',   'C'),
            (     'Open',  'GS'),
            (     'Open', 'JPM'),
            (     'Open',  'MS'),
            (     'Open', 'WFC'),
            (   'Volume', 'BAC'),
            (   'Volume',   'C'),
            (   'Volume',  'GS'),
            (   'Volume', 'JPM'),
            (   'Volume',  'MS'),
            (   'Volume', 'WFC')],
           )

pandas.core.frame.DataFrame

In [6]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
DF['Close'].max().round(2)

BAC     54.90
C      564.10
GS     247.92
JPM     70.08
MS      89.30
WFC     58.52
dtype: float64